<navbar-comp></navbar-comp>
<h1>App Component</h1>
<router-outlet></router-outlet>
<footer class="bs-docs-footer"> 
    <div class="container">
    <p>Designed and built by XXXX. Maintained by the YYYY.</p> 
    <p>jkbk sjkds sjkjkcs jkjjuuusjsj sjjhc.</p> </div> 
</footer>
<!--
<h1>App Component</h1>
<input type="text" [(ngModel)]="username"/>
<input type="text" [(ngModel)]="password"/>
<button (click)="getData()">Click Me</button>
{{username}}
{{password}}
{{message}}

{{testVar}}-->
<add-book></add-book>